<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.109478565664-2bldec1ee2t4m7mvcbrvd7ioq859qu4v</string>
				<string>&lt;?xml</string>
				<string>version=&quot;1.0&quot;</string>
				<string>encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE</string>
				<string>plist</string>
				<string>PUBLIC</string>
				<string>&quot;-//Apple//DTD</string>
				<string>PLIST</string>
				<string>1.0//EN&quot;</string>
				<string>&quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist</string>
				<string>version=&quot;1.0&quot;&gt;
&lt;string&gt;com.googleusercontent.apps.109478565664-2bldec1ee2t4m7mvcbrvd7ioq859qu4v&lt;/string&gt;
&lt;/plist&gt;
</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
